<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ContentProduct</title>

<link rel="stylesheet" href="/static/css/product/4d4e407f2280d50c.css">
<link rel="stylesheet" href="/static/css/product/e3048584c00a0406.css">
<link rel="stylesheet" href="/static/css/product/a5055aa57af99147.css">
<link rel="stylesheet" href="/static/css/product/9808ee4030aef597.css">
<link rel="stylesheet" href="/static/css/product/a4ef56fda630c4e5.css">
<link rel="stylesheet" href="/static/css/product/contentProduct.css">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600&display=swap">

<script src="/static/javascript/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/javascript/product/contentProduct.js"></script>

<!-- Swiper CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.css">

<!-- Swiper JS -->
<script
	src="https://cdn.jsdelivr.net/npm/swiper@6.8.4/swiper-bundle.min.js"></script>

</head>
<body>
	<main class="relative flex-grow border-b-2"
		style="min-height: 0px !important; height: auto !important;">

		<div
			class="mx-auto md:px-8 2xl:px-16 box-content max-w-[1024px] min-[1600px]:max-w-[1180px] lg:min-h-[950px] px-5"
			style="height: auto !important; min-height: 0px !important;">
			<div
				class="items-start block grid-cols-2 lg:grid gap-x-[72px] lg:pt-[72px] lg:pb-[52px] pb-9 pt-0">
				<div
					class="carouselWrapper relative product-gallery swiperThumbnail product-gallery-slider dotsCircle">


					<div
						class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
						dir="ltr">

						<div class="swiper-wrapper"></div>


						<!-- =================================== 페이지네이션 ======================================  -->
						<div
							class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">

						</div>


					</div>

					<!-- =================================== 슬라이드 좌우버튼 ======================================  -->
					<button class="swiper-button-prev" aria-label="prev-button">
						<svg width="26" height="28" viewBox="0 0 26 28" fill="none"
							xmlns="http://www.w3.org/2000/svg" class="rotate-[0deg]">
						<g filter="url(#filter0_d_19461_8348)">
						<path fill-rule="evenodd" clip-rule="evenodd"
								d="M15.8122 5.34218C16.4517 6.0669 16.3825 7.17278 15.6578 7.81224L8.645 14L15.6578 20.1878C16.3825 20.8273 16.4517 21.9331 15.8122 22.6579C15.1727 23.3826 14.0669 23.4517 13.3421 22.8122L5.26706 15.6872C4.25192 14.7914 4.25192 13.2086 5.26706 12.3129L13.3421 5.1878C14.0669 4.54835 15.1727 4.61747 15.8122 5.34218Z"
								fill="currentColor"></path>
						</g>
						</svg>
					</button>


					<button class="swiper-button-next" aria-label="next-button">
						<svg width="26" height="28" viewBox="0 0 26 28" fill="none"
							xmlns="http://www.w3.org/2000/svg" class="rotate-[180deg]">
						<g filter="url(#filter0_d_19461_8348)">
						<path fill-rule="evenodd" clip-rule="evenodd"
								d="M15.8122 5.34218C16.4517 6.0669 16.3825 7.17278 15.6578 7.81224L8.645 14L15.6578 20.1878C16.3825 20.8273 16.4517 21.9331 15.8122 22.6579C15.1727 23.3826 14.0669 23.4517 13.3421 22.8122L5.26706 15.6872C4.25192 14.7914 4.25192 13.2086 5.26706 12.3129L13.3421 5.1878C14.0669 4.54835 15.1727 4.61747 15.8122 5.34218Z"
								fill="currentColor"></path>
						</g>
					</svg>
					</button>
				</div>


















				<div>
					<div
						class="flex items-center w-full chawkbazarBreadcrumb pt-5 lg:py-2 pb-[10px]">
						<ol class="flex flex-wrap items-center w-full mt-0 lg:mt-0">
							<li
								class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a
								class="text-jnGray-500" href="/">홈</a></li>
							<li
								class="pl-0 mx-2 mt-0 text-sm leading-5 text-jnGray-500 lg:mt-0"><svg
									width="17" height="17" viewBox="0 0 17 17" fill="none"
									xmlns="http://www.w3.org/2000/svg" class="rotate-[0deg]">
								<path
										d="M5.6665 14.1667L10.9796 8.85363C11.1749 8.65837 11.1749 8.34179 10.9796 8.14653L5.6665 2.83341"
										stroke="#9CA3AF" stroke-linecap="round"
										stroke-linejoin="round"></path></svg></li>
							<li
								class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a
								class="capitalize text-jnGray-500" href="/search?category=2">패션의류</a></li>
							<li
								class="pl-0 mx-2 mt-0 text-sm leading-5 text-jnGray-500 lg:mt-0"><svg
									width="17" height="17" viewBox="0 0 17 17" fill="none"
									xmlns="http://www.w3.org/2000/svg" class="rotate-[0deg]">
								<path
										d="M5.6665 14.1667L10.9796 8.85363C11.1749 8.65837 11.1749 8.34179 10.9796 8.14653L5.6665 2.83341"
										stroke="#9CA3AF" stroke-linecap="round"
										stroke-linejoin="round"></path></svg></li>
							<li
								class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a
								class="capitalize text-jnblack" href="/search?category=111">여성의류</a></li>
						</ol>
					</div>
					<div>
						<div class="flex items-center justify-between mb-1">
							<h1
								class="text-lg font-semibold leading-6 md:text-2xl md:leading-[28.64px] text-jnblack mr-2">자라
								스웨이드 자켓</h1>
							<button type="button" aria-label="공유하기">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg" class="">
								<path
										d="M19.5556 12.9408V18.9852C19.5556 19.5196 19.33 20.0321 18.9285 20.4099C18.5271 20.7878 17.9826 21 17.4148 21H5.64074C5.07298 21 4.52848 20.7878 4.12701 20.4099C3.72554 20.0321 3.5 19.5196 3.5 18.9852V7.90373C3.5 7.36937 3.72554 6.85689 4.12701 6.47904C4.52848 6.10119 5.07298 5.88892 5.64074 5.88892H12.063"
										stroke="#141313" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round"></path>
								<path d="M14.8334 4H20C20.2762 4 20.5 4.22386 20.5 4.5V9.66667"
										stroke="#141313" stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round"></path>
								<path d="M11.0554 13.4444L20.0276 4.47217" stroke="#141313"
										stroke-width="1.5" stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
							</button>
						</div>
						<div class="flex items-center mb-2 lg:mb-3">
							<div
								class="font-bold md:text-[32px] mr-2 text-[26px] leading-9 md:leading-[38.19px] text-heading">25,000원</div>
						</div>
						<div
							class="flex items-center justify-between mb-4 text-xs font-normal">
							<span class="text-jnGray-500 leading-[15px]">7분 전 · 조회 3 ·
								채팅 0 · 찜 0</span><a class="ga4_product_detail_price"
								href="/search-price/%EC%9E%90%EB%9D%BC%20%EC%8A%A4%EC%9B%A8%EC%9D%B4%EB%93%9C%20%EC%9E%90%EC%BC%93?seq=186439671"><span
								class="leading-4 underline underline-offset-4 text-jnGray-700">시세조회</span></a>
						</div>
					</div>
					<div
						class="fixed left-0 z-10 w-full bg-white px-4 py-3 shadow-[0_35px_60px_-20px_rgba(0,0,0,0.3)] justify-between lg:hidden hidden top-[var(--header-height)] sm:top-[var(--sm-header-height)] lg:top-[var(--lg-header-height)] xl:top-[var(--xl-header-height)] top-[136px]">
						<div class="flex flex-col mr-2 w-[calc(100%-56px)]">
							<span
								class="block overflow-hidden text-ellipsis whitespace-nowrap font-bold text-heading w-full">자라
								스웨이드 자켓</span><span>25,000<span class="text-base">원</span></span>
						</div>
						<div
							class="relative inline-block w-12 h-12 overflow-hidden rounded">
							<img alt="자라 스웨이드 자켓--0" referrerpolicy="no-referrer"
								src="https://img2.joongna.com/cafe-article-data/live/2024/09/25/1078366340/1727245281979_000_joryt_main.jpg?impolicy=resizeWatermark3&amp;isSecret=false"
								decoding="async" data-nimg="fill" class="object-cover"
								loading="lazy"
								style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
						</div>
					</div>
					<ul
						class="box-border flex text-center border border-gray-300 rounded items-center py-6 mb-6">
						<li
							class="flex flex-col flex-1 basis-[25%] px-3 sm:px-4 relative after:absolute [&amp;:not(:first-child)]:after:content-['']  after:bg-gray-300 after:h-[20px] [&amp;:not(:first-child)]:after:w-[1px] after:left-0 justify-center items-center"><span
							class="text-xs font-normal text-jnGray-600 break-keep">제품상태</span>
							<button disabled=""
								class="block text-sm font-semibold text-jnblack mt-1 ">중고</button></li>
						<li
							class="flex flex-col flex-1 basis-[25%] px-3 sm:px-4 relative after:absolute [&amp;:not(:first-child)]:after:content-['']  after:bg-gray-300 after:h-[20px] [&amp;:not(:first-child)]:after:w-[1px] after:left-0 justify-center items-center"><span
							class="text-xs font-normal text-jnGray-600 break-keep">거래방식</span>
							<button disabled=""
								class="block text-sm font-semibold text-jnblack mt-1 ">택배</button></li>
						<li
							class="flex flex-col flex-1 basis-[25%] px-3 sm:px-4 relative after:absolute [&amp;:not(:first-child)]:after:content-['']  after:bg-gray-300 after:h-[20px] [&amp;:not(:first-child)]:after:w-[1px] after:left-0 justify-center items-center"><span
							class="text-xs font-normal text-jnGray-600 break-keep">배송비</span>
							<button disabled=""
								class="block text-sm font-semibold text-jnblack mt-1 ">별도</button></li>
						<li
							class="flex flex-col flex-1 basis-[25%] px-3 sm:px-4 relative after:absolute [&amp;:not(:first-child)]:after:content-['']  after:bg-gray-300 after:h-[20px] [&amp;:not(:first-child)]:after:w-[1px] after:left-0 justify-center items-center"><span
							class="text-xs font-normal text-jnGray-600 break-keep">안전거래</span>
							<button disabled=""
								class="block text-sm font-semibold text-jnblack mt-1 ">미사용</button></li>
					</ul>




					<div
						class="flex items-center space-s-4 pt-4 max-[479px]:fixed max-[479px]:bottom-0 max-[479px]:left-0 max-[479px]:z-20 max-[479px]:w-full max-[479px]:px-4 max-[479px]:pb-4 max-[479px]:bg-white">
						<div class="w-8 h-8">
							<label for=":r0:" class="relative cursor-pointer"><svg
									width="32" height="32" viewBox="0 0 32 32" fill="none"
									xmlns="http://www.w3.org/2000/svg"
									class="pointer-events-none w-8 h-8">
								<path
										d="M5.94197 17.9925L15.2564 26.334C15.3282 26.3983 15.3641 26.4305 15.3975 26.4557C15.7541 26.7249 16.2459 26.7249 16.6025 26.4557C16.6359 26.4305 16.6718 26.3983 16.7436 26.3341L26.058 17.9925C28.8244 15.5151 29.1565 11.3015 26.8124 8.42125L26.5675 8.12029C23.8495 4.78056 18.5906 5.35863 16.663 9.20902C16.3896 9.75505 15.6104 9.75505 15.337 9.20902C13.4094 5.35863 8.1505 4.78056 5.43249 8.12028L5.18755 8.42125C2.84352 11.3015 3.17564 15.5151 5.94197 17.9925Z"
										stroke-width="1.5" stroke="#9CA3AF" fill="transparent"></path></svg></label><input
								id=":r0:" type="checkbox" class="a11yHidden">
						</div>
						<button data-variant="slim"
							class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center placeholder-white focus-visible:outline-none focus:outline-none rounded-md h-11 md:h-12 px-5 py-2 transform-none normal-case hover:shadow-cart ga4_product_detail_bottom w-full bg-white hover:bg-white/90 text-jnblack hover:text-jnblack border-[1px] border-jnblack">채팅하기</button>
						<button data-variant="slim"
							class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent placeholder-white focus-visible:outline-none focus:outline-none rounded-md h-11 md:h-12 px-5 text-white py-2 transform-none normal-case hover:text-white hover:shadow-cart w-full ga4_product_detail_bottom bg-jnblack hover:bg-jnblack/90">안전거래</button>
					</div>
				</div>
			</div>
			<div class="pb-12">
				<div class="flex flex-wrap items-center mb-4 md:mb-5">
					<h3
						class="md:text-[22px] font-bold text-jnBlack mr-2 text-lg empty:h-7">판매자의
						다른 상품</h3>
				</div>
				<hr style="background: #d5d5d5 !important; height: 1px; border: 0;">
				<ul
					class="grid grid-cols lg:grid-cols-3 gap-x-3 lg:gap-x-5 xl:gap-x-7 gap-y-3 xl:gap-y-5 2xl:gap-y-8">
					<li class="flex py-3 h-[160px] overflow-hidden"><a
						href="https://adcr.naver.com/adcr?x=fiCK3WnesW55z/L+PxsYK////w==k1VKUHoUt6TWh2pZlFwnzSADCsRFtG0wBOiMrZsJ0o78PPKcy5iLDxm5bkDWnEyqZ/o1uQtPYi8z+UgewyVpDVeLa1xVCuQ8JDniu7PgYY8xD1f8+5uq7ctYtHb7Z/yJSU0Uw8mYQJ5fSj2afu03X76zo54X6j6y7Putll8jT4W06Dg/Umf5MrZ72rSOsbUtIMcHcshRIyLqYhRBa6Q5IH1XHBMfdqT45vB2cvWiBC8fk7UNUsylVryoFFf7Enm5/EZJH2AUcYm6q/Z0bT9zE9g3pKTV6miNL4saQ8x32zLlrnd/PyViPpDK3HTKjbVDN2qc+TxImRcvJftPlKZu9AliRbGWyWjfEH2ybJhb1Le3e2AvtqxlWG4rH0uDAjBu400b4b0x8GMrCw06Lqn6HjjOb1ow6wLZCDVTNujotjLymrkv0KUyVAqtvh0YuZU3Pqu1lGdA+TWvIWEXLlHVkzaXmhPV//xTmINulhYE5iQc9NgGeJE/l+nPvnnerQP6KEK/O3ifekwS9Ioo1b7ai9ZQf65Mfi8vTxUREx/JOg9vcps558F+pvezgnVtNwZ4xo3z8v7RemT+TztZrkZcujtXLNpM4thg/70rF0VS4vRpoXaepg4RdFNYeuVMMNXaQpQR62wD7FUka3jkihZ4cRfagOqfJ+LqQXgLEpJVs9LozrW81+uWNEXIUq7kWm1Vr"
						rel="sponsored noreferrer" target="_blank"
						class="mr-3 flex justify-center items-start min-w-[120px] relative"><img
							alt="3color 남성 봄 스탠다드핏 포드 스웨이드 숏 자켓"
							src="https://shopping-phinf.pstatic.net/main_8287864/82878641790.jpg?type=f300"
							width="120" height="120" decoding="async" data-nimg="1"
							class="transition duration-150 ease-linear transform rounded-md cursor-pointer hover:scale-105"
							loading="lazy" style="color: transparent;"></a>
						<div class="flex flex-col justify-start gap-1 py-1 break-all">
							<a
								href="https://adcr.naver.com/adcr?x=fiCK3WnesW55z/L+PxsYK////w==k1VKUHoUt6TWh2pZlFwnzSADCsRFtG0wBOiMrZsJ0o78PPKcy5iLDxm5bkDWnEyqZ/o1uQtPYi8z+UgewyVpDVeLa1xVCuQ8JDniu7PgYY8xD1f8+5uq7ctYtHb7Z/yJSU0Uw8mYQJ5fSj2afu03X76zo54X6j6y7Putll8jT4W06Dg/Umf5MrZ72rSOsbUtIMcHcshRIyLqYhRBa6Q5IH1XHBMfdqT45vB2cvWiBC8fk7UNUsylVryoFFf7Enm5/EZJH2AUcYm6q/Z0bT9zE9g3pKTV6miNL4saQ8x32zLlrnd/PyViPpDK3HTKjbVDN2qc+TxImRcvJftPlKZu9AliRbGWyWjfEH2ybJhb1Le3e2AvtqxlWG4rH0uDAjBu400b4b0x8GMrCw06Lqn6HjjOb1ow6wLZCDVTNujotjLymrkv0KUyVAqtvh0YuZU3Pqu1lGdA+TWvIWEXLlHVkzaXmhPV//xTmINulhYE5iQc9NgGeJE/l+nPvnnerQP6KEK/O3ifekwS9Ioo1b7ai9ZQf65Mfi8vTxUREx/JOg9vcps558F+pvezgnVtNwZ4xo3z8v7RemT+TztZrkZcujtXLNpM4thg/70rF0VS4vRpoXaepg4RdFNYeuVMMNXaQpQR62wD7FUka3jkihZ4cRfagOqfJ+LqQXgLEpJVs9LozrW81+uWNEXIUq7kWm1Vr"
								rel="sponsored noreferrer" target="_blank"
								class="text-sm font-normal text-jnblack hover:underline text-ellipsis line-clamp-2">3color
								남성 봄 스탠다드핏 포드 스웨이드 숏 자켓</a>
							<div class="flex gap-1 items-center">
								<strong class="text-black">64,000원</strong>
							</div>
							<div class="flex items-center">
								<span class="text-xs font-normal mr-1 text-gray-400">MC2</span><span
									class="mx-1 text-xs font-normal text-gray-400">|</span><span
									class="text-xs font-normal text-gray-400">광고</span>
							</div>
						</div></li>
					<li class="flex py-3 h-[160px] overflow-hidden max-[1023px]:hidden"><a
						href="https://adcr.naver.com/adcr?x=K1laEqbFx7onqm1pIJ+a9P///w==knk+QBmtl3/rneutrkpaTTNFj2rrvOV5Vga2/ecYocMLDEbK1XVsoyxJK3dX3NFcb7Sr43zL23uZcaJcE27S5Wxwl+gaahIMbcqNPb4hej579aUHb7R14O5FxUkFAtVdueZPj/NHw2RuGcbR/461J5o6X21OHHSmxnuvaF5eRmLVkJVIFdUSiQd/y4qpaYCz00Tq9wCnBpG/ZyHJJ1AHQ1lCIw8K5qA9AgvZx84p1rviLf5OqRUISbQEsOyIdyeqmWimlpsaj2vGv1d7o5ATe0HNFcNwGuQMtYnpZv80ixL8cJoCPwAMCw8eRFgb/jPyqVkMM3CQRyl9EuX8YETdm3F7eeEiG38QqukXHSRIYCfhm1UHbGOnKK/P3v9+ada8LQ/U1hCNQsQ+A+28U84KE1fvgqoaq/zc/HVn/Jgo6denIeI9g2Zbs7asXYjSR3m3qo0W4hhUwrEVDOL6EY5xiKFERqiRh+HsgGkClwdTqiY9KTJAT4f/R1j+mXbKFx4oumb/u9Din6QtSH0g7a5mAkyCa73vkXk5v8tI0Gt0hgDKadOFU3SjoT5XUmKhZHqSLZLCmM7fNV2hctdILV74iaBP9BDTE5+mWnunZnH1W7O9PIZOeZgTEPPtkHkgEt3HJKDMwcLADqNEcLzawWY8R3xjL42J2FyDb62c/Z+ii+1u4c4Ti1dqcL3VkIwpOjs7q"
						rel="sponsored noreferrer" target="_blank"
						class="mr-3 flex justify-center items-start min-w-[120px] relative"><img
							alt="자라 에코 스웨이드 블루종 봄버 자켓"
							src="https://shopping-phinf.pstatic.net/main_8680771/86807719905.1.jpg?type=f300"
							width="120" height="120" decoding="async" data-nimg="1"
							class="transition duration-150 ease-linear transform rounded-md cursor-pointer hover:scale-105"
							loading="lazy" style="color: transparent;"></a>
						<div class="flex flex-col justify-start gap-1 py-1 break-all">
							<a
								href="https://adcr.naver.com/adcr?x=K1laEqbFx7onqm1pIJ+a9P///w==knk+QBmtl3/rneutrkpaTTNFj2rrvOV5Vga2/ecYocMLDEbK1XVsoyxJK3dX3NFcb7Sr43zL23uZcaJcE27S5Wxwl+gaahIMbcqNPb4hej579aUHb7R14O5FxUkFAtVdueZPj/NHw2RuGcbR/461J5o6X21OHHSmxnuvaF5eRmLVkJVIFdUSiQd/y4qpaYCz00Tq9wCnBpG/ZyHJJ1AHQ1lCIw8K5qA9AgvZx84p1rviLf5OqRUISbQEsOyIdyeqmWimlpsaj2vGv1d7o5ATe0HNFcNwGuQMtYnpZv80ixL8cJoCPwAMCw8eRFgb/jPyqVkMM3CQRyl9EuX8YETdm3F7eeEiG38QqukXHSRIYCfhm1UHbGOnKK/P3v9+ada8LQ/U1hCNQsQ+A+28U84KE1fvgqoaq/zc/HVn/Jgo6denIeI9g2Zbs7asXYjSR3m3qo0W4hhUwrEVDOL6EY5xiKFERqiRh+HsgGkClwdTqiY9KTJAT4f/R1j+mXbKFx4oumb/u9Din6QtSH0g7a5mAkyCa73vkXk5v8tI0Gt0hgDKadOFU3SjoT5XUmKhZHqSLZLCmM7fNV2hctdILV74iaBP9BDTE5+mWnunZnH1W7O9PIZOeZgTEPPtkHkgEt3HJKDMwcLADqNEcLzawWY8R3xjL42J2FyDb62c/Z+ii+1u4c4Ti1dqcL3VkIwpOjs7q"
								rel="sponsored noreferrer" target="_blank"
								class="text-sm font-normal text-jnblack hover:underline text-ellipsis line-clamp-2">자라
								에코 스웨이드 블루종 봄버 자켓</a>
							<div class="flex gap-1 items-center">
								<strong class="text-black">59,000원</strong>
							</div>
							<div class="flex items-center">
								<span class="text-xs font-normal mr-1 text-gray-400">유로핏</span><span
									class="mx-1 text-xs font-normal text-gray-400">|</span><span
									class="text-xs font-normal text-gray-400">광고</span>
							</div>
						</div></li>
					<li class="flex py-3 h-[160px] overflow-hidden max-[1023px]:hidden"><a
						href="https://adcr.naver.com/adcr?x=27ONLi5sxlmqX/9jTspu/////w==ka/UOQcRdBWj6KRD6O619KniK9ygp/OzkOHyjS56ES4/GDUHd5ARaREQYrlIPqoP16nl9kNckNj+R6nt39aeC+dMD1wcOqhHJ+Z4WCFztbgqBCfk4n/fE40T1zPBpDaIihxLSi7l4W0/HY7rGHsR4LgbkkOq9wA92mWFSMsbdSCbf684+i44qawXKfj8GEQOiDs0eG+hWusnIKKTu3Ynu0lXHbXUKXIsM8os3PGudvJfrvnBm5hoKIDjgeQjA+U2kfTawF/zEa1dRukoE25VZyo7EAr9y/ZWPe6x9yN1FmA4H5WhCW57ze3NfVCIukEUeGr33kbBrgNW9VEFGSbrd2TEgVWsEQlXx3BCA2zJ6QG9O5yWb/DZWZJRzmq0Ql6jijQaLIYoglEN1BZf/nE69KoABMJaUlF4EjflCmqI0xS/codFKYEjka9y98xR6U0y703k5+0wAsy3MGLbTJ5R10+SMogOH6RoI8cwPvX6E8U4jE5G3QKpsHAu6kBiNIqqHh9v60cX/sltNLpBnD8KbXetfiTQ8Nu5c1ZDUhohQ+TcyvpETgcsdVGYAGE9cwgTKG8foqZ96EsrYxWc5+0tippyYIUIMOO0ms/Qyi2/ylldHohn+PkNRV6c4gQyymfzmDeoNv3JJNe5UmGeUblXC5VZ2EeNmbbV/4whBeMYGYfU="
						rel="sponsored noreferrer" target="_blank"
						class="mr-3 flex justify-center items-start min-w-[120px] relative"><img
							alt="자라 에코 스웨이드 블루종 봄버 자켓"
							src="https://shopping-phinf.pstatic.net/main_8680309/86803090123.jpg?type=f300"
							width="120" height="120" decoding="async" data-nimg="1"
							class="transition duration-150 ease-linear transform rounded-md cursor-pointer hover:scale-105"
							loading="lazy" style="color: transparent;"></a>
						<div class="flex flex-col justify-start gap-1 py-1 break-all">
							<a
								href="https://adcr.naver.com/adcr?x=27ONLi5sxlmqX/9jTspu/////w==ka/UOQcRdBWj6KRD6O619KniK9ygp/OzkOHyjS56ES4/GDUHd5ARaREQYrlIPqoP16nl9kNckNj+R6nt39aeC+dMD1wcOqhHJ+Z4WCFztbgqBCfk4n/fE40T1zPBpDaIihxLSi7l4W0/HY7rGHsR4LgbkkOq9wA92mWFSMsbdSCbf684+i44qawXKfj8GEQOiDs0eG+hWusnIKKTu3Ynu0lXHbXUKXIsM8os3PGudvJfrvnBm5hoKIDjgeQjA+U2kfTawF/zEa1dRukoE25VZyo7EAr9y/ZWPe6x9yN1FmA4H5WhCW57ze3NfVCIukEUeGr33kbBrgNW9VEFGSbrd2TEgVWsEQlXx3BCA2zJ6QG9O5yWb/DZWZJRzmq0Ql6jijQaLIYoglEN1BZf/nE69KoABMJaUlF4EjflCmqI0xS/codFKYEjka9y98xR6U0y703k5+0wAsy3MGLbTJ5R10+SMogOH6RoI8cwPvX6E8U4jE5G3QKpsHAu6kBiNIqqHh9v60cX/sltNLpBnD8KbXetfiTQ8Nu5c1ZDUhohQ+TcyvpETgcsdVGYAGE9cwgTKG8foqZ96EsrYxWc5+0tippyYIUIMOO0ms/Qyi2/ylldHohn+PkNRV6c4gQyymfzmDeoNv3JJNe5UmGeUblXC5VZ2EeNmbbV/4whBeMYGYfU="
								rel="sponsored noreferrer" target="_blank"
								class="text-sm font-normal text-jnblack hover:underline text-ellipsis line-clamp-2">자라
								에코 스웨이드 블루종 봄버 자켓</a>
							<div class="flex gap-1 items-center">
								<strong class="text-black">61,000원</strong>
							</div>
							<div class="flex items-center">
								<span class="text-xs font-normal mr-1 text-gray-400">유로핏</span><span
									class="mx-1 text-xs font-normal text-gray-400">|</span><span
									class="text-xs font-normal text-gray-400">광고</span>
							</div>
						</div></li>
				</ul>
			</div>
			<div
				class="block lg:flex lg:min-h-[591px] space-y-12 lg:space-y-0 mb-12">
				<div name="product-description"
					class="w-full lg:mr-[72px] lg:w-[680px] flex flex-col flex-auto false">
					<h3
						class="md:text-[22px] lg:pb-5 w-full border-b border-gray-300 basis-[48px] font-bold pb-3 text-jnblack text-lg">상품
						정보</h3>
					<div
						class="flex-1 basis-[465px] lg:basis-[475px] flex flex-col overflow-visible">
						<div class="flex flex-col h-auto">
							<article class="flex flex-col flex-1">
								<p
									class="flex-1 py-5 text-base font-normal break-words break-all whitespace-pre-line text-jnGray-900">※
									카페 상품 게시글은 자동으로 중고나라 앱/사이트에 노출합니다. 노출을 원하지 않으실 경우 고객센터로 문의
									바랍니다. ※ 등록한 게시글이 회원의 신고를 받거나 이상거래로 모니터링 될 경우 중고나라 사기통합조회 DB로
									수집/활용될 수 있습니다. ─────────────────── 📢 제목에 "제조사/ 브랜드 명"과 "상품명”를
									넣어 작성하면, 보다 빠른 판매가 가능합니다! 📢 게시글 작성 시 배송 방법에 “직거래”와 “내 위치” 설정할
									경우, 보다 빠른 판매가 가능합니다! 몇번 못입었는데 첫번째 두번째 단추 긁힘이 있습니다 사진참고 그외 상태 매우
									좋습니다 가을에 입기 너무 좋습니다 가슴50 길이 96 택비제외</p>
							</article>
						</div>
					</div>
					<button class="w-full py-4 border border-gray-400 rounded hidden">더
						보기</button>
				</div>
			</div>



		</div>
	</main>
</body>
</body>
</html>