<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ListProduct</title>

<link rel="stylesheet" href="/static/css/product/4d4e407f2280d50c.css">
<link rel="stylesheet" href="/static/css/product/e3048584c00a0406.css">
<link rel="stylesheet" href="/static/css/product/a5055aa57af99147.css">
<link rel="stylesheet" href="/static/css/product/9808ee4030aef597.css">
<link rel="stylesheet" href="/static/css/product/a4ef56fda630c4e5.css">
<link rel="stylesheet" href="/static/css/product/listProduct.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css"> -->

<!-- <link rel="stylesheet" -->
<!-- 	href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600&display=swap"> -->

<!-- 원하는 걸로 변경 -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet"> -->
<style>
/*  *{ */
/* 	font-family: "Noto Sans KR", sans-serif !important;  */
/* }  */
</style>  

<script src="/static/javascript/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

	<!--/$-->
	<main class="relative flex-grow border-b-2"
		style="min-height: 0px !important; height: auto !important;">
		<div
			class="mx-auto px-4 md:px-8 2xl:px-16 box-content pt-8 pb-16 bg-white lg:pt-[72px] lg:pb-20 max-w-[1024px] min-[1600px]:max-w-[1280px]"
			style="height: auto !important;">
			<div class="w-full 2xl:-ms-9" style="height: auto !important;">
			
			
				<div class="relative">
					<h2 class="text-[28px] font-normal mb-[10px]">물품 검색</h2>
					<table class="hidden lg:table filterTable w-full">
						<tbody>
							<tr id="category-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;"><p>카테고리</p>
<!-- 								<div class="flex items-center w-full chawkbazarBreadcrumb"> -->
<!-- 										<ol class="flex flex-wrap items-center w-full mt-0 lg:mt-0"> -->
<!-- 											<li -->
<!-- 												class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a -->
<!-- 												class="text-base font-semibold text-jnBlack font-medium text-base text-jnBlack" -->
<!-- 												href="/search">전체</a></li> -->
<!-- 											<li class="pl-0 mx-2 mt-0 text-sm leading-5 text-jnGray-500 lg:mt-0">|</li> -->
<!-- 											<li -->
<!-- 												class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a -->
<!-- 												class="text-base font-semibold text-jnBlack font-medium text-base text-jnBlack" -->
<!-- 												href="/search?category=1&amp;page=1&amp;productFilterType=APP">DCO.VALUE1</a></li> -->
<!-- 											<li class="pl-0 mx-2 mt-0 text-sm leading-5 text-jnGray-500 lg:mt-0">|</li> -->
<!-- 											<li -->
<!-- 												class="flex-shrink-0 px-0 mt-0 text-sm break-all transition duration-200 ease-in text-body first:ps-0 last:pe-0 hover:text-heading"><a -->
<!-- 												class="text-base font-semibold text-jnBlack font-medium text-base text-jnBlack" -->
<!-- 												href="/search?category=1&amp;page=1&amp;productFilterType=APP">DCO.VALUE2</a></li> -->
<!-- 										</ol> -->
<!-- 									</div></td> -->
							</tr>
							<tr id="location-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;"><p>지역</p>
<!-- 								<td class="price-filter"> -->
<!-- 												<input -->
<!-- 									type="text" -->
<!-- 									class="w-[152px] border rounded border-jnGray-200 py-[10px] px-4 text-sm font-medium" -->
<!-- 									placeholder="최대 가격" data-idx="1"> -->
<!-- 									<button data-routerlink="true" -->
<!-- 										class="w-full mt-3 lg:mt-0 lg:w-auto bg-jnBlack py-[10px] px-4 m-0 lg:mx-2 rounded text-sm font-medium text-white">적용</button></td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td>옵션</td> -->
<!-- 								<td><ul class="flex undefined"> -->
<!-- 										<li class="mr-5"><label data-routerlink="true" -->
<!-- 											for="productFilterType" -->
<!-- 											class="flex items-center justify-start text-base font-medium break-all cursor-pointer text-jnBlack"><svg -->
<!-- 													width="20" height="20" viewBox="2 2 20 20" fill="#C2C6CE" -->
<!-- 													xmlns="http://www.w3.org/2000/svg" -->
<!-- 													class="mr-1 pointer-events-none" data-routerlink="true"> -->
<!-- 															<path -->
<!-- 														d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" -->
<!-- 														stroke="#C2C6CE" stroke-width="1.5" stroke-linecap="round" -->
<!-- 														stroke-linejoin="round"></path> -->
<!-- 															<path d="M16 9L10.5 14.5L8 12" stroke="#FFFFFF" -->
<!-- 														stroke-width="1.5" stroke-linecap="round" -->
<!-- 														stroke-linejoin="round"></path></svg><span -->
<!-- 												data-routerlink="true" class="text-base ps-1">카페상품 포함</span></label><input -->
<!-- 											id="productFilterType" class="hidden" type="checkbox" -->
<!-- 											value="APP"></li> -->
<!-- 										<li class="mr-5"><label data-routerlink="true" -->
<!-- 											for="saleYn" -->
<!-- 											class="flex items-center justify-start text-base font-medium break-all cursor-pointer text-jnBlack"><svg -->
<!-- 													width="20" height="20" viewBox="2 2 20 20" fill="#C2C6CE" -->
<!-- 													xmlns="http://www.w3.org/2000/svg" -->
<!-- 													class="mr-1 pointer-events-none" data-routerlink="true"> -->
<!-- 															<path -->
<!-- 														d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" -->
<!-- 														stroke="#C2C6CE" stroke-width="1.5" stroke-linecap="round" -->
<!-- 														stroke-linejoin="round"></path> -->
<!-- 															<path d="M16 9L10.5 14.5L8 12" stroke="#FFFFFF" -->
<!-- 														stroke-width="1.5" stroke-linecap="round" -->
<!-- 														stroke-linejoin="round"></path></svg><span -->
<!-- 												data-routerlink="true" class="text-base ps-1">판매완료 상품 -->
<!-- 													포함</span></label><input id="saleYn" class="hidden" type="checkbox" -->
<!-- 											value="SALE_N"></li> -->
<!-- 									</ul></td> -->
<!-- 							</tr> -->
<!-- 							<tr> -->
<!-- 								<td>선택한 필터</td> -->
<!-- 								<td><div -->
<!-- 										class="flex items-center justify-between w-full h-full border-none"> -->
<!-- 										<div class="flex flex-wrap"> -->
<!-- 											<div -->
<!-- 												class="flex items-center flex-shrink-0 py-2 pl-3 mb-2 mr-2 text-sm font-medium border rounded lg:m-0 lg:border-none lg:p-0 lg:text-base border-jnGray-300 text-jnBlack"> -->
<!-- 												<span class="truncate">수입명품</span> -->
<!-- 												<svg xmlns="http://www.w3.org/2000/svg" width="16" -->
<!-- 													height="16" fill="none" data-routerlink="true" -->
<!-- 													class="flex-shrink-0 w-4 text-sm cursor-pointer ms-1 me-3 text-body fill-jnGray-600" -->
<!-- 													size="16"> -->
<!-- 															<g stroke="#787E89" stroke-linecap="round" -->
<!-- 														stroke-linejoin="round" -->
<!-- 														clip-path="url(#close-icon_svg__a)"> -->
<!-- 															<path d="M13 3 3 13M3 3l10 10"></path></g> -->
<!-- 															<defs> -->
<!-- 															<clipPath id="close-icon_svg__a"> -->
<!-- 															<path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										<button data-routerlink="true" -->
<!-- 											class="text-sm underline text-jnGray-700 whitespace-nowrap">초기화</button> -->
<!-- 									</div></td> -->
							</tr>
							<tr id="search-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;height:57px;"><p>검색</p>
								</td>
<!-- 								<td><input type="text"  -->
<!-- 									class="w-[300px] border rounded border-jnGray-200 py-[10px] px-4 text-sm font-medium" -->
<!-- 									placeholder="검색어를 입력하세요" data-idx="0"> -->
<!-- 								</td> -->
						</tbody>
					</table>
				</div>









				<!--  ================================= 정렬 ========================================  -->
				<div>
				<ul
					class="inline-flex sticky z-10 w-full justify-end bg-white lg:top-[204px] xl:top-[220px] pt-7 pb-5 text-end">
<!-- 					<li -->
<!-- 						class="text-sm leading-[17px] [&amp;:not(:last-child)]:after:content-[''] after:inline-block after:border after:border-jnGray-300 after:h-[10px] [&amp;:last-of-type]:after:border-none font-semibold text-jnGray-900"><button -->
<!-- 							class="px-2">조회순</button></li> -->
<!-- 					<li -->
<!-- 						class="text-sm leading-[17px] [&amp;:not(:last-child)]:after:content-[''] after:inline-block after:border after:border-jnGray-300 after:h-[10px] [&amp;:last-of-type]:after:border-none font-medium text-jnGray-600"><button -->
<!-- 							class="px-2">최신순</button></li> -->
<!-- 					<li -->
<!-- 						class="text-sm leading-[17px] [&amp;:not(:last-child)]:after:content-[''] after:inline-block after:border after:border-jnGray-300 after:h-[10px] [&amp;:last-of-type]:after:border-none font-medium text-jnGray-600"><button -->
<!-- 							class="px-2">낮은가격순</button></li> -->
<!-- 					<li -->
<!-- 						class="text-sm leading-[17px] [&amp;:not(:last-child)]:after:content-[''] after:inline-block after:border after:border-jnGray-300 after:h-[10px] [&amp;:last-of-type]:after:border-none font-medium text-jnGray-600"><button -->
<!-- 							class="px-2">높은가격순</button></li> -->
				</ul>
				</div>
				
				
				
				
				<!--  ================================= 상품 목록 ========================================  -->
				
				<ul class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 min-[1600px]:grid-cols-5 gap-x-3 lg:gap-x-5 xl:gap-x-7 gap-y-3 xl:gap-y-5 2xl:gap-y-8 search-results [&amp;_div]:ps-0">
				
				
<!-- 					<li class=""> -->
<!-- 					<div> -->
<!-- 						<a class="relative group box-border overflow-hidden flex rounded-md cursor-pointer pe-0 pb-2 lg:pb-3 flex-col items-start transition duration-200 ease-in-out transform bg-white" -->
<!-- 						   href="/product/184796318"> -->
<!-- 							<div class="relative w-full rounded-md overflow-hidden dim pt-[100%] mb-3 md:mb-3.5"> -->
<!-- 							<img src="${pageContext.request.contextPath}/resources/img/${adminDTO.ST_PICTURE}"> -->
<!-- 									<img > -->
<!-- 										 이미지는 JS에서 불로오고 있으니 패스 -->
<!-- 							</div> -->
<!-- 							<div class="w-full overflow-hidden p-2 md:px-2.5 xl:px-4"> -->
<!-- 							PRO_TITLE -->
<!-- 								<h2 class="line-clamp-2 min-h-[2lh] text-sm md:text-base"></h2> -->
<!-- 								PRO_PRICE + 원 -->
<!-- 									<div class="font-semibold space-s-2 mt-0.5 text-heading lg:text-lg lg:mt-1.5"></div> -->
<!-- 									<div class="my-1 h-6"> -->
<!-- 										<span class="text-sm text-gray-400">PRO_LOCATION 값을 이용해서 그 값을 참조하는 TEST_DETAIL_CODE 테이블의 DCO_VALUE와 그 행의 SCO_ID를 참조하는 TEST_SUB_CODE테이블의 SCO_VALUE를 가져와서 SCO_VALUE+" "+DCO_VALUE</span> -->
<!-- 										<span class="mx-1 text-sm text-gray-400">|</span> -->
<!-- 										<span class="text-sm text-gray-400">PRO_DATE를 이용해서 몇분전, 몇시간전, 몇일전을 계산해서 보이기</span> -->
<!-- 									</div> -->
<!-- 									<div class="flex justify-between"> -->
<!-- 										<div class="text-xs text-gray-400 text-muted">조회수 0</div> -->
<!-- 									</div> -->
<!-- 							</div> -->
<!-- 						</a> -->
<!-- 					</div> -->
<!-- 					</li> -->
						
						
				</ul>











				<!--  ================================= 페이징 ========================================  -->


				<div class="bottom-0 py-3 m-auto text-center bg-white lg:mb-2">
					<ul class="flex justify-center space-x-2 space-x-reverse pagination-nav">
<!-- 						<li class="w-4 mr-2"><a class="items-center hidden h-full" -->
<!--  							href="/search?category=1&amp;page=0&amp;productFilterType=APP"> -->
<!-- 						<svg stroke="currentColor" fill="currentColor" stroke-width="0" -->
<!-- 							viewBox="0 0 24 24" height="1em" width="1em" -->
<!-- 							xmlns="http://www.w3.org/2000/svg"> -->
<!-- 											<path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path></svg></a></li> -->
<!-- 						<li class="w-10 h-10 rounded-md shrink-0 bg-jngreen/80 text-white"><a -->
<!-- 							class="block leading-10" -->
<!-- 							href="/search?category=1&amp;page=1&amp;productFilterType=APP">1</a></li> -->

<!-- 						<li class="w-10 h-10 rounded-md shrink-0"><a -->
<!-- 							class="block leading-10" -->
<!-- 							href="/search?category=1&amp;page=2&amp;productFilterType=APP">2</a></li> -->

<!-- 						<li class="w-4 mr-2"><a class="items-center h-full flex" -->
<!-- 							href="/search?category=1&amp;page=2&amp;productFilterType=APP"> -->
<!-- 								<svg  -->
<!-- 									stroke="currentColor" fill="currentColor" stroke-width="0" -->
<!-- 									viewBox="0 0 24 24" height="1em" width="1em" -->
<!-- 									xmlns="http://www.w3.org/2000/svg"> -->
<!-- 											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></a></li> -->
					
					</ul>
				</div>
			</div>
		</div>
	</main>
	
	<script src="/static/javascript/product/listProduct.js"></script>
	
	
</body>
</html>