<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ListProduct</title>

<link rel="stylesheet" href="/static/css/product/4d4e407f2280d50c.css">
<link rel="stylesheet" href="/static/css/product/e3048584c00a0406.css">
<link rel="stylesheet" href="/static/css/product/a5055aa57af99147.css">
<link rel="stylesheet" href="/static/css/product/9808ee4030aef597.css">
<link rel="stylesheet" href="/static/css/product/a4ef56fda630c4e5.css">
<link rel="stylesheet" href="/static/css/product/listProduct.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css"> -->

<!-- <link rel="stylesheet" -->
<!-- 	href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600&display=swap"> -->

<!-- 원하는 걸로 변경 -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet"> -->
<style>
/*  *{ */
/* 	font-family: "Noto Sans KR", sans-serif !important;  */
/* }  */
</style>  

<script src="/static/javascript/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

	<!--/$-->
	<main class="relative flex-grow border-b-2"
		style="min-height: 0px !important; height: auto !important;">
		<div
			class="mx-auto px-4 md:px-8 2xl:px-16 box-content pt-8 pb-16 bg-white lg:pt-[72px] lg:pb-20 max-w-[1024px] min-[1600px]:max-w-[1280px]"
			style="height: auto !important;">
			<div class="w-full 2xl:-ms-9" style="height: auto !important;">
			
			
				<div class="relative">
					<h2 class="text-[28px] font-normal mb-[10px]">물품 검색</h2>
					<table class="hidden lg:table filterTable w-full">
						<tbody>
							<tr id="category-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;"><p>카테고리</p>
							</tr>
							<tr id="location-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;"><p>지역</p>
							<tr id="search-filter">
								<td class="" style="font-weight: bold;text-align: center;width: 118px;"><p>검색</p>
						</tbody>
					</table>
				</div>

				<!--  ================================= 정렬 ========================================  -->
				<div>
				<ul id="sortList"
					class="inline-flex sticky z-10 w-full justify-end bg-white lg:top-[204px] xl:top-[220px] pt-7 pb-5 text-end">
				</ul>
				</div>
				
				<!--  ================================= 상품 목록 ========================================  -->
				
				<ul class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 min-[1600px]:grid-cols-5 gap-x-3 lg:gap-x-5 xl:gap-x-7 gap-y-3 xl:gap-y-5 2xl:gap-y-8 search-results [&amp;_div]:ps-0">
				</ul>

				<!--  ================================= 페이징 ========================================  -->


				<div class="bottom-0 py-3 m-auto text-center bg-white lg:mb-2">
					<ul class="flex justify-center space-x-2 space-x-reverse pagination-nav">
					</ul>
				</div>
			</div>
		</div>
	</main>
	
	<script src="/static/javascript/product/listProduct.js"></script>
	
	
</body>
</html>