<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/imagetracerjs@1.2.6/imagetracer_v1.2.6.min.js"></script>
<script src="/static/javascript/main/bannerUpload.js"></script>
<body>
<input type="hidden" id="selMember" value="1">
<input type="file" id="bannerFile">
<input type="button" id="bannerUpload" value="저장">



</body>
</html>