<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/javascript/chat/chat.js"></script>
<script src="/static/javascript/main/bannerUpload.js"></script>


<body>
<button class="chatBtn">
	채팅 버튼
</button>

<input type="hidden" id="selMember" value="1">

<input type="file" id="bannerFile">
<input type="button" id="bannerUpload" value="저장">



</body>
</html>