<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team.Mapper.MemberMapper">

	<select id="checkEmail" resultType="String">
		SELECT MEM_ID
		FROM MEMBERS
		WHERE MEM_EMAIL = #{MEM_EMAIL}
		AND MEM_SNS ='F'
		AND MEM_STATUS = 'F'
	</select>

	<insert id="insertUser">
		INSERT INTO MEMBERS ( MEM_ID
							 ,MEM_PW
							 ,MEM_NICK
							 ,MEM_BIRTH
							 ,MEM_EMAIL
							 ,MEM_GENDER
							 ,MEM_NAME
							 ,MEM_TEL
							 ,MEM_SNS
							 ,MEM_STATUS
							 )
		VALUES ( #{MEM_ID}
				,#{MEM_PW}
				,#{MEM_NICK}
				,#{MEM_BIRTH}
				,#{MEM_EMAIL}
				,#{MEM_GENDER}
				,#{MEM_NAME}
				,#{MEM_TEL}
				,#{MEM_SNS}
				,#{MEM_STATUS}
				)
	</insert>

	<select id="checkLogin" resultType="map">
		SELECT MEM_ID
		FROM MEMBERS
		WHERE MEM_ID = #{MEM_ID} AND MEM_PW = #{MEM_PW}
	</select>

	<insert id="naverInsertUser">
		INSERT INTO MEMBERS ( MEM_ID
							, MEM_NICK
							, MEM_GENDER
							, MEM_EMAIL
							, MEM_TEL
							, MEM_NAME
							, MEM_BIRTH
							, MEM_SNS
							, MEM_STATUS
							, MEM_PW)
		VALUES (  #{MEM_ID}
				, #{MEM_NICK}
				, #{MEM_GENDER}
				, #{MEM_EMAIL}
				, #{MEM_TEL}
				, #{MEM_NAME}
				, #{MEM_BIRTH}
				, #{MEM_SNS}
				, #{MEM_STATUS}
				, #{MEM_PW})
	</insert>



	<select id="sendEmailId" resultType="string">
        SELECT MEM_ID
        FROM MEMBERS
        WHERE MEM_EMAIL = #{MEM_EMAIL}
        AND   MEM_SNS = 'F'
        AND MEM_STATUS = 'F'
    </select>
    
    <select id="sendEmailPw" resultType="string">
        SELECT MEM_PW
        FROM MEMBERS
        WHERE MEM_EMAIL = #{MEM_EMAIL}
        AND   MEM_SNS = 'F'
        AND MEM_STATUS = 'F'
    </select>

	<insert id="kakaoInsertUser" parameterType="map">
        INSERT INTO MEMBERS (MEM_ID
        				    ,MEM_NAME
        				    ,MEM_SNS
        				    ,MEM_NICK
        				    )
        VALUES (#{kakaoId}
        	   ,#{name}
        	   ,#{MEM_SNS}
        	   ,#{MEM_NICK}
        	   )
    </insert>
    
    
    <select id="checkPwEmail" parameterType="map" resultType="String">
    	SELECT MEM_PW
    	FROM MEMBERS
    	WHERE MEM_ID = #{MEM_ID}
    	AND MEM_EMAIL = #{MEM_EMAIL}
    	AND MEM_SNS = 'F'
    	AND MEM_STATUS = 'F'
	</select>

	<select id="selectTable" resultType="map" parameterType="String">
        SELECT
        I.INQ_NO 
       ,INQ_TITLE
       ,INQ_DATE
       ,ROW_NUMBER() OVER (ORDER BY INQ_DATE ASC) AS NUMBER
       ,INQ_CONTENT
       ,A.ANS_CONTENT
       ,A.ANS_DATE
       ,CASE WHEN A.ANS_CONTENT IS NULL THEN '처리중' 
       									ELSE '답변 완료'
    	END AS RESULT
    	FROM INQUIRY I
    	LEFT JOIN ANSWER A 
    	ON I.INQ_NO = A.INQ_NO
    	WHERE I.MEM_NO = #{MEM_NO}
    </select>
	

	 <select id="SelectMember" resultType="map" parameterType="String"> 
        SELECT MEM_TEL
        	  ,MEM_EMAIL
        FROM MEMBERS
        WHERE 
        MEM_NO = #{MEM_NO} 
    </select>
	
	
	<insert id="InsertInquiry" parameterType="map">
    INSERT INTO INQUIRY (MEM_NO
    					  ,INQ_TITLE
    					  ,INQ_CONTENT
    					  ,INQ_DATE
    					  )
    VALUES (#{MEM_NO}
    	   ,#{INQ_TITLE}
    	   ,#{INQ_CONTENT}
    	   ,NOW())
	</insert>


	<select id="SelectNews" resultType="map">
        SELECT NEW_CONTENT
        	  ,NEW_NAME
        	  ,NEW_DATE
        FROM NEWS
        ORDER BY NEW_DATE DESC
    </select>




</mapper>
