<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team.Mapper.MemberMapper">

	<select id="checkEmail" resultType="String">
		SELECT MEM_ID
		FROM MEMBERS
		WHERE MEM_EMAIL = #{MEM_EMAIL}
		AND MEM_SNS ='F'
		AND MEM_STATUS = 'F'
	</select>

	<insert id="insertUser">
		INSERT INTO MEMBERS ( MEM_ID
							 ,MEM_PW
							 ,MEM_NICK
							 ,MEM_BIRTH
							 ,MEM_EMAIL
							 ,MEM_GENDER
							 ,MEM_NAME
							 ,MEM_TEL
							 ,MEM_SNS
							 ,MEM_STATUS
							 )
		VALUES ( #{MEM_ID}
				,#{MEM_PW}
				,#{MEM_NICK}
				,#{MEM_BIRTH}
				,#{MEM_EMAIL}
				,#{MEM_GENDER}
				,#{MEM_NAME}
				,#{MEM_TEL}
				,#{MEM_SNS}
				,#{MEM_STATUS}
				)
	</insert>

	<select id="checkLogin" resultType="map">
		SELECT MEM_ID
		FROM MEMBERS
		WHERE MEM_ID = #{MEM_ID} AND MEM_PW = #{MEM_PW}
	</select>

	<insert id="naverInsertUser">
		INSERT INTO MEMBERS ( MEM_ID
							, MEM_NICK
							, MEM_GENDER
							, MEM_EMAIL
							, MEM_TEL
							, MEM_NAME
							, MEM_BIRTH
							, MEM_SNS
							, MEM_STATUS
							, MEM_PW)
		VALUES (  #{MEM_ID}
				, #{MEM_NICK}
				, #{MEM_GENDER}
				, #{MEM_EMAIL}
				, #{MEM_TEL}
				, #{MEM_NAME}
				, #{MEM_BIRTH}
				, #{MEM_SNS}
				, #{MEM_STATUS}
				, #{MEM_PW})
	</insert>



	<select id="sendEmailId" resultType="string">
        SELECT MEM_ID
        FROM MEMBERS
        WHERE MEM_EMAIL = #{MEM_EMAIL}
        AND   MEM_SNS = 'F'
        AND MEM_STATUS = 'F'
    </select>
    
    <select id="sendEmailPw" resultType="string">
        SELECT MEM_PW
        FROM MEMBERS
        WHERE MEM_EMAIL = #{MEM_EMAIL}
        AND   MEM_SNS = 'F'
        AND MEM_STATUS = 'F'
    </select>

	<insert id="kakaoInsertUser" parameterType="map">
        INSERT INTO MEMBERS (MEM_ID
        				    ,MEM_NAME
        				    ,MEM_SNS
        				    ,MEM_NICK
        				    )
        VALUES (#{kakaoId}
        	   ,#{name}
        	   ,#{MEM_SNS}
        	   ,#{MEM_NICK}
        	   )
    </insert>
    
    
    <select id="checkPwEmail" parameterType="map" resultType="String">
    SELECT MEM_PW
    FROM MEMBERS
    WHERE MEM_ID = #{MEM_ID}
    AND MEM_EMAIL = #{MEM_EMAIL}
    AND MEM_SNS = 'F'
    AND MEM_STATUS = 'F'
</select>

	


</mapper>
