<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team.Mapper.MyPageMapper">

	<!-- 공통코드 호출 -->
	<select id="getDetailCode" resultType="String">
		SELECT JSON_OBJECTAGG(DCO_ID, DCO_VALUE)
		FROM TEST_DETAIL_CODE;
	</select>
	
	
	<!-- 마이페이지 상품목록 -->
	<select id="getDetailMyProduct">
		SELECT P.MEM_NO
			, P.PRO_NO
			, P.PRO_VIEWS
			, P.PRO_DATE
			, P.PRO_CATEGORY
			, P.PRO_LOCATION
			, P.PRO_NEG
			, P.PRO_PRICE
			, P.PRO_STATE
			, P.PRO_STATUS
			, P.PRO_TITLE
			, P.PRO_TYPE
			, P.PRO_CONTENT
			, SUBSTRING_INDEX(P.PRO_IMG, ',', 1) AS PRO_IMG
		FROM PRODUCT P
		<choose>
			<when test="SELECT_TYPE == '찜한상품'">
				RIGHT OUTER JOIN LIKED L
				ON P.PRO_NO = L.PRO_NO
				WHERE L.MEM_NO = #{MEM_NO}
				AND P.PRO_NO IS NOT NULL
			</when>
			<when test="SELECT_TYPE == '판매중'">
				WHERE P.PRO_STATUS = 'STD1'
				AND P.MEM_NO = #{MEM_NO}
			</when>
			<when test="SELECT_TYPE == '판매완료'">
				WHERE P.PRO_STATUS = 'STD2'
				AND P.MEM_NO = #{MEM_NO}
			</when>
			<when test="SELECT_TYPE == '구매상품'">
				JOIN PAYMENT PAY
				ON P.PRO_NO = PAY.PRO_NO
				WHERE PAY.SEL_MEM_NO = #{MEM_NO}
			</when>
		</choose>
		<choose>
			<when test="SORT_TYPE == '최신순'">
				ORDER BY P.PRO_DATE
			</when>
			<when test="SORT_TYPE == '높은가격순'">
				ORDER BY P.PRO_PRICE DESC
			</when>
			<when test="SORT_TYPE == '낮은가격순'">
				ORDER BY P.PRO_PRICE ASC
			</when>
			<when test="SORT_TYPE == '조회순'">
				ORDER BY P.PRO_VIEWS
			</when>
		</choose>
	</select>
	
	<!-- 마이페이지 상품 판매, 구매, 찜한 수 -->
	
	<select id="getProCount">
		SELECT 'PAYMENT' AS TYPE, COUNT(SEL_MEM_NO) AS COUNT
		FROM PAYMENT
		WHERE SEL_MEM_NO = #{MEM_NO}
		UNION ALL
		SELECT 'PRODUCT', COUNT(MEM_NO)
		FROM PRODUCT
		WHERE MEM_NO = #{MEM_NO}
		UNION ALL
		SELECT 'LIKED', COUNT(MEM_NO)
		FROM LIKED
		WHERE MEM_NO = #{MEM_NO}
	</select>
	
	
	
	<!-- 메인페이지 상품목록 -->
	<select id="getMainProductList" resultType="Map">
		SELECT MEM_NO
			, PRO_NO
			, PRO_VIEWS
			, PRO_DATE
			, PRO_CATEGORY
			, PRO_LOCATION
			, PRO_NEG
			, PRO_PRICE
			, PRO_STATE
			, PRO_STATUS
			, PRO_TITLE
			, PRO_TYPE
			, PRO_CONTENT
			, SUBSTRING_INDEX(PRO_IMG, ',', 1) AS PRO_IMG
		FROM PRODUCT
		WHERE PRO_STATUS = 'STD1'
		<choose>
			<when test="TYPE != null and TYPE = '최근등록순'"> 
				ORDER BY PRO_DATE
			</when>
			<when test="TYPE != null and TYPE = '조회순'">
				ORDER BY PRO_VIEWS
			</when>
			<when test="TYPE != null and TYPE = '낮은가격순'">
				ORDER BY PRO_PRICE
			</when>
		</choose>
		LIMIT 30;
	</select>

	<!-- 채팅룸 호출 -->
	<select id="getChatRoom" resultType="map">
		SELECT CHA_NO
			, CHA_LOG
			, CHA_MEM1
			, CHA_MEM2 
		FROM CHATTING
		WHERE 1 = 1
	<choose>
		<when test="CHA_MEM1 != null and CHA_MEM2 != null">
			AND CHA_MEM1 = #{CHA_MEM1}
			AND CHA_MEM2 = #{CHA_MEM2}
		</when>
		<when test="CHA_NO != null">
			AND CHA_NO = #{CHA_NO}
		</when>
	</choose>
	</select>

	<!-- 채팅룸 생성 -->
	<insert id="insertChatRoom">
		INSERT INTO CHATTING (CHA_MEM1, CHA_MEM2, CHA_LOG) 
		VALUES (
		    #{CHA_MEM1},
		    #{CHA_MEM2},
		    JSON_ARRAY()
		)
	</insert>
	
	<!-- 채팅내역 업데이트 -->
	<update id="updateChat">
		UPDATE CHATTING
		SET CHA_LOG = JSON_ARRAY_APPEND(
			CHA_LOG,
			'$', <!-- 배열의 마지막위치에 데이터를 추가 -->
			JSON_OBJECT(
				'USERID', #{USERID},
				'TIME', #{TIME},
				'TEXT', #{TEXT}
			)
		)
		WHERE CHA_NO = #{CHA_NO}
	</update>
	
	<!-- 특정 회원의 전체 채팅 목록 -->
	<select id="getChatList">
		SELECT C.CHA_NO
			, C.CHA_MEM1
			, C.CHA_MEM2
		    , JSON_SET(JSON_EXTRACT(C.CHA_LOG, CONCAT('$[', JSON_LENGTH(C.CHA_LOG) - 1, ']')), '$.NICK', M.MEM_NICK) AS 'CHA_LOG'
		FROM
			(SELECT CHA_MEM1
				, CHA_MEM2
				, CHA_NO
		        , CHA_LOG
				, CASE 
					   WHEN CHA_MEM1 = #{MEM_NO} THEN CHA_MEM2
					   ELSE CHA_MEM1
				   END AS OTHER_MEM
			FROM CHATTING) C JOIN MEMBERS M
		ON C.OTHER_MEM = M.MEM_NO
		WHERE C.CHA_MEM1 = #{MEM_NO}
		OR C.CHA_MEM2 = #{MEM_NO}
	</select>

</mapper>