<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team.Mapper.MyPageMapper">
	<select id="getMainProductList" resultType="Map">
	SELECT MEM_NO
		, PRO_NO
		, PRO_VIEWS
		, PRO_DATE
		, PRO_CATEGORY
		, PRO_LOCATION
		, PRO_NEG
		, PRO_PRICE
		, PRO_STATE
		, PRO_STATUS
		, PRO_TITLE
		, PRO_TYPE
		, PRO_CONTENT
		, PRO_IMG
	FROM PRODUCT
	WHERE 1 = 1
	<choose>
		<when test="TYPE != null and TYPE = 'Latest'">
			ORDER BY PRO_DATE
		</when>
		<when test="TYPE != null and TYPE = 'Popular'">
			ORDER BY PRO_VIEWS
		</when>
		<when test="TYPE != null and TYPE = 'Price'">
			ORDER BY PRO_PRICE
		</when>
	</choose>
	LIMIT 20;
	</select>


	<select id="getChatRoom" resultType="map">
	<choose>
		<when test="CHA_MEM1 != null and CHA_MEM2 != null">
			SELECT CHA_NO
				, CHA_LOG
				, CHA_MEM1
				, CHA_MEM2 
			FROM CHATTING
			WHERE CHA_MEM1 = #{CHA_MEM1}
			AND CHA_MEM2 = #{CHA_MEM2}
		</when>
		<when test="CHA_NO != null">
			SELECT CHA_NO
				, JSON_EXTRACT(CHA_LOG, CONCAT('$[', JSON_LENGTH(CHA_LOG) - 1, ']')) as CHA_LOG
				, CHA_MEM1
				, CHA_MEM2 
			FROM CHATTING
			WHERE CHA_NO = #{CHA_NO}
		</when>
	</choose>
	</select>

	<!-- 채팅룸 생성 -->
	<insert id="insertChatRoom">
		INSERT INTO CHATTING (CHA_MEM1, CHA_MEM2) 
		VALUES (
		    #{CHA_MEM1},
		    #{CHA_MEM2}
		);
	</insert>
	
	<!-- 채팅내역 업데이트 -->
	<update id="updateChat">
		UPDATE CHATTING
		SET CHA_LOG = JSON_ARRAY_APPEND(
			CHA_LOG,
			'$', <!-- 배열의 마지막위치에 데이터를 추가 -->
			JSON_OBJECT(
				'USERID', #{USERID},
				'TIME', #{TIME},
				'TEXT', #{TEXT}
			)
		)
		WHERE CHA_NO = #{CHA_NO}
	</update>

</mapper>