<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.team.Mapper.ProductMapper">

	<select id="getProductCategory" resultType="map">
		SELECT TDC.DCO_ID
			 , TDC.DCO_VALUE
			 , TSC.SCO_ID
			 , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'MAM'
		   AND TSC.SCO_ID = 'PRS'
		   AND TDC.DCO_ID LIKE 'PCD%'
	</select>

	<select id="getProductLocation" resultType="map">
		SELECT TDC.DCO_ID
			 , TDC.DCO_VALUE
			 , TSC.SCO_ID
			 , TSC.SCO_VALUE
			 , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'LOM'
		   AND TSC.SCO_ID LIKE 'LOS%'
		AND TDC.DCO_ID LIKE 'LOD%'
	</select>

	<select id="getProductState" resultType="map">
		SELECT TDC.DCO_ID
		     , TDC.DCO_VALUE
		     , TSC.SCO_ID
		     , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'PRM'
		   AND TSC.SCO_ID LIKE 'PSS'
		   AND TDC.DCO_ID LIKE 'PSD%'
	</select>

	<select id="getProductType" resultType="map">
		SELECT TDC.DCO_ID
		     , TDC.DCO_VALUE
		     , TSC.SCO_ID
		     , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'PRM'
		   AND TSC.SCO_ID LIKE 'TYS'
		   AND TDC.DCO_ID LIKE 'TYD%'
	</select>

	<select id="getProductNego" resultType="map">
		SELECT TDC.DCO_ID
			 , TDC.DCO_VALUE
			 , TSC.SCO_ID
			 , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'PRM'
		   AND TSC.SCO_ID LIKE 'NES'
		   AND TDC.DCO_ID LIKE 'NED%'
	</select>

	<select id="getSortList" resultType="map">
		SELECT TDC.DCO_ID
			 , TDC.DCO_VALUE
			 , TSC.SCO_ID
			 , TMC.MCO_ID
		  FROM TEST_DETAIL_CODE TDC
		  JOIN TEST_SUB_CODE TSC 
		    ON TDC.SCO_ID = TSC.SCO_ID
		  JOIN TEST_MAIN_CODE TMC 
		    ON TSC.MCO_ID = TMC.MCO_ID
		 WHERE TMC.MCO_ID = 'PRM'
		   AND TSC.SCO_ID LIKE 'ARS'
		   AND TDC.DCO_ID LIKE 'ARD%'
	</select>
	
	<select id="getProductsSortedByViews" resultType="map">
		SELECT PRO.PRO_NO
			 , PRO.PRO_VIEWS
			 , PRO.PRO_DATE
			 , TDC1.DCO_VALUE AS LOCATION_VALUE
			 , PRO.PRO_PRICE
			 , PRO.PRO_STATUS
			 , PRO.PRO_TITLE
			 , TDC2.DCO_VALUE AS TYPE_VALUE
			 , PRO.PRO_IMG
		  FROM PRODUCT PRO 
		  JOIN TEST_DETAIL_CODE TDC1 
		  	ON PRO.PRO_LOCATION = TDC1.DCO_ID
		  JOIN TEST_DETAIL_CODE TDC2 
		    ON PRO.PRO_TYPE = TDC2.DCO_ID 
		 ORDER BY PRO.PRO_VIES DESC
		 LIMIT #{size} 
		OFFSET #{offset};
	</select>





</mapper>


