<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 코드 추가</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="/static/javascript/jquery-3.6.0.js"></script> <!-- jQuery 파일 -->
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<script src="/static/javascript/code/maincode.js"></script> <!-- 메인 코드 -->
</head>

<body>
	
	<button id="addRowButton">+</button>
	<div id="grid"></div>
	<button id="saveButton">저장</button>
	<button type="button" id="deleteButton">삭제</button>
	<button type="button" id="subButton">서브코드 등록</button>
	
</body>
</html>
